.backgroundImage {
    position: absolute;
    background-color: transparent;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.circle {  
    position: relative;
    display: block;  
    max-height: 200px;
    max-width: 200px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: hsla(192,24%,4%,0.6);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.mainTable{
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.header {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.navigation {
    position: relative;
    z-index: 2;
    color: white;
    display: block;
    max-width: 200px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: hsla(192,24%,4%,0.6);
}

.content {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.fooder {
    position: relative;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background-color: #000000;
    background-color: hsla(192,24%,4%,0.8);
    color: white;
}

a {
    text-decoration: none;
    color: white;
    border: 0px solid transparent;
}

img {
    border: 0px solid transparent;
}

.menuItem{
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: large;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid rgb(80,80,80);
    border-bottom: 2px solid rgba(80,80,80,0.5);
}

.menuInlineHoverDiv {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    -moz-transition: all 0.5s, ease-in-out 0.5s;
    -webkit-transition: all 0.5s, ease-in-out 0.5s;
    transition: all 0.5s, ease-in-out 0.5s;
}

#menuInlineHoverDiv:hover, #menuButton:hover, #menuInlineDiv:hover{
    margin-left: 20px;
}

#menuInlineDiv:hover {
    color: #808080;
    visibility: visible;
}

.menuInlineDiv {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    -moz-transition: all 0.5s, ease-in-out 0.5s;
    -webkit-transition: all 0.5s, ease-in-out 0.5s;
    transition: all 0.5s, ease-in-out 0.5s;
}

.menuButton {
    visibility: visible;
    background-color: yellow;
    text-align: right;
    -moz-transition: all 0.5s, ease-in-out 0.5s;
    -webkit-transition: all 0.5s, ease-in-out 0.5s;
    transition: all 0.5s, ease-in-out 0.5s;
}

#menuButton:hover{
    background-color: #FF0000;
}
